@{
    ViewData["Title"] = "Home Page";

}


<!-- Se muestra en la pagina  -->

<div class="text-center">
    <h1 class="display-4">Welcome to RestoApp</h1>
    <p>RestoApp es una aplicacion para la administracion y organizacion de empleados como asi tambien para la asignacion de tareas que le corresponda a cada uno de ellos  </p>
</div>

